
.card__btn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    width: 163px;
    height: 45px;
    border:none;
    border-radius: calc(45px/2);
    cursor: pointer;
    background: url(/dist/images/Here_is_what/button-bg-card.png);
    background-position: center;
    background-repeat: no-repeat;
}

.btn__wrapper{
    padding-bottom: 67px;
    text-align: center;   
}

.card__btn span{
    color: #fff;
}




