
@import "reset";

.footer {
    max-width: 100%;
    background: url(/dist/images/Here_is_what/footer-bg.png);
    background-size: 100%;
    padding-bottom: 12px;   
}

.fork__subscription__pricing__block {
    max-width: 300px;
    margin: 0 auto;
}

.card-container{
    max-width: 258px;
    margin: 0 auto;  
}

.fork__subscription__pricing__block h2 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    padding-top: 14px;
    color: #fff;
    padding-bottom: 32px;
    line-height: 42px;
}

.fork__card {
    width: 257px;
    margin-bottom: 18px;
}

.card__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 36px 0px 36px 0px;
    background: url(/dist/images/Here_is_what/heading-bg-card.png);
}

.card__content {
    background:url(/dist/images/Here_is_what/base-bg-card.png)
}

.card__price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 62px;
    padding: 30px 0px 20px 0px;
    text-align: center;
    color: #fff;
    margin: 0;
}

.card__price>p {
    text-align: center; 
}

.card__period{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 73px;
    color: #fff;
    position: relative;
}

.card__period::before{
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 5px;
    background: #8D81AC;
    left: calc(50% - 60px/2);
    top:38px;
}

.card__info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    padding-bottom: 36px;
}

.card__info-padding{
    padding-bottom: 54px;
}

.fork__card-active{
    width: 300px;
    max-height: 560px;
}

.card__content-active{
    background: url(/dist/images/Here_is_what/base-bg-dark.png);
}

.card__title-active{
    background: url(/dist/images/Here_is_what/heading-bg-dark.png)  
}

.card__period-active{
    padding-bottom: 91px;   
}

.card__info-active{
    padding-bottom: 83px;
}


@media (min-width:481px) and (max-width:992px){

    .footer {
        max-width:100%;
        background: url(/dist/images/Here_is_what/footer-bg-tablet.png);
        padding-bottom: 94px;    
    }

    .fork__subscription__pricing__block {
        max-width: 620px;
        padding: 0px 10px 0px 10px;
        display: flex;
        flex-wrap: wrap;       
        gap: 25px;
        justify-content: flex-end;
        
    }
    
    .fork__subscription__pricing__block h2{
        font-size: 42px;
        line-height: 44px;
        padding-top: 88px;
        padding-bottom: 39px;      
    }

    .fork__card-center{
        align-self: center;
    }

    .fork__card{
        margin: 0;
        
}
}


@media (min-width:993px){
.footer {
        max-width: 100%;
        background: url(/dist/images/Here_is_what/footer-bg-desktop.png);
        background-size: 100%;
        margin: 0 auto;
    }
    .fork__subscription__pricing__block {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;      
    }

    .fork__subscription__pricing__block h2{
        font-size: 48px;
        line-height: 50px;  
        padding:83px 280px 61px 280px;        
    }
    .fork__card{
        align-self: center;
    }
}