@import "variables.scss";
@import "reset.css";
@import "mixin.scss";


.header{
    background-image: url("/dist/images/img.png");
    height: 718px;
};
    .nav__logo--hover{display: none;}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    background-color: $nav-color;
    position: relative;
    padding: 0 16px;
    
    &__logo{
        width: 43px;
        height: 41px; 
    };
    
}
.nav__btnBuy{
    @include btnBuy( 119px, 37px );
    @include text( Montserrat, 15px, 700, $white-color);
    cursor: pointer;
      };
.nav__btnMenu{
    display: flex;
    flex-direction: column;
    cursor: pointer;
.nav__shortStick{
    @include menuNav(15px);
        margin-left: 11px;
};
.nav__longStick{
    @include menuNav(26px)
};
};
.nav__cross{
    width: 25px;
    height: 25px;
    position: relative;
    display: none;
    
    cursor: pointer;
  
    .nav__cross-apandown{
        transform: rotate(90deg) translateY(100%);
        position: absolute;
    } ;
};


.nav__menu{
    background-color: #333333;
    width: 256px;
    padding-bottom: 14px;
    margin: 0 auto;
    position: absolute;
display: none;
    bottom: 0;
    right: -125px;
    transform: translate(-50%, 100%);    

}

.nav__item {
    position: relative;
    @include text ( Montserrat, 26px, 400, $white-color);
    @include navMobileMenu;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &:active{
        color: $btn-color;   
    };
    &:active::before{
        content: "";
        width: 8px;
        height: 53px; 
        background-color: $btn-color;
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;            
    }
} ; 
 
.header__content{
    .header__title{
        @include text(Montserrat, 48px, 700, white);
        margin-top: 50px;
           
    }
    .header__textMainIdea{
        @include text(Montserrat, 14px, 400, $btn-color);
        margin: 19px 27px 0 27px;
        line-height: 24px;
        letter-spacing: 2px;
    }
    .header__version{
        @include text(Montserrat, 14px, 400, $grey-color);
        margin-top: 14px;
    }
}

.header__offer{
    
    background-color: $white-color ;
    .header__btnDownload{
        @include btnBuy( 290px, 45px );
        @include text(Montserrat, 18px, 700, $white-color);
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        cursor: pointer;
    };

    .header__offer-text{
        @include text(Montserrat, 14px, 400, $grey-color);
    }
}
.nav__logo-wrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav__logo-text{
    @include text( Lato, 24px, 700, $btn-color );
    margin-left: 17px;
    display: none;
}

.openMenu{
    .nav__menu{
        display: block;

    };
    .nav__cross{
        display: block;

    };

    .nav__btnMenu{
        display: none;

    };
}


@media (min-width: 768px) {
    .header{
        background-image: url("/dist/images/img1200.png");
        background-position: center;
    };
    .nav__logo-text{
        display: block;
    }
   .nav__btnMenu{
       display: none;
   }
   .nav__cross {
    display: none;
}
   .nav__menu{
    display: flex;
    @include text(Montserrat, 16px, 700, $btn-color );
    width: 100%;
    height: 33px;
    background-color: $nav-color;
    left: 0;
    transform: none;
    };
   .nav__item{
    border-bottom: none;
    @include text(Montserrat, 16px, 700, $btn-color );
    &:active::before{
        content: none;
    }
    }
   .nav__btnBuy{
    margin-top: 24px;
    margin-bottom: 56px;
   }
   .nav__logo-wrapper{
    margin-top: 24px;
    margin-bottom: 56px;   
   }
   .nav__menu{
    padding-bottom: 0;
    right: 50%
};


.openMenu{
    .nav__menu{
        display: flex;
    }
    .nav__btnMenu{
        display: none;
    };
    .nav__cross{
        display: none;
    };
}
}


@media (min-width: 1200px){
    .header{
        background-image: url("/dist/images/img1200.png");
        background-repeat: no-repeat;
        background-size: 100%
    };
    .nav{
        background-color: transparent;
    }
    .nav__menu{
        position: static;
        padding-bottom: 0;
        margin-right: 30px;
        background-color:transparent ;
        display: flex;
        
    }
    .nav__menu-buy-wrapper{display: flex;
    align-items: center;}
    .nav__btnBuy{
        margin-top: 0;
        margin-bottom: 0;
       }
       .nav__logo-wrapper{
        margin-top: 0;
        margin-bottom: 0;   
       }
       .nav__logo-wrapper:hover{
        
        
        .nav__logo--hover{display: block;
            
        };
        .nav__logo{display: none;
        };
        .nav__logo-text{
            color: $white-color;
        };
        
       }
       .nav__btnBuy:hover{
           background-color: #fff;
           color: $btn-color;
           border: 2px solid $btn-color;
           
       }
       .nav__item:hover{
           color: $white-color;
           
       }
       .header__btnDownload:hover{
        background-color: #fff;
        color: $btn-color;
        border: 2px solid $btn-color;
       }
}

