
@import "reset";
@import "mixins";
@import "variables";

* {
    box-sizing: border-box;
}

body{   
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;   
}

a {
    text-decoration: none;
}

// <!-- Revolutionary editor -->
.container{
    min-width: 320px;
    max-width: 480px; 
    background: rgba(0, 0, 0, 0.0001);
    padding: 0px 10px 0px 10px;   
}

.revolutionary__editor__block, .here__is__what__block {
    max-width: 270px;
    margin: 0 auto;
    
}
.revolutionary__editor-title h2 {
    @include RevEditTitle;
    padding-top: 80px;
}
.revolutionary__editor-text p {
    @include RevEditText;
    padding: 27px 0px 36px 0px;
}

.revolutionary__editor-buttons>ul {  
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px;
}

.revolutionary__editor-buttons li {  
    list-style-type: none;
    display: flex;   
}

.revolutionary__editor-buttons li a:nth-child(1){
    border: 1px solid black;
    border-radius: 4px 0px 0px 4px;
    height: 26px;
    width: 60px;
    font-size: 10px;
    background-color: #e8eaec;
    color: #000;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;   
}

.revolutionary__editor-buttons li a:nth-child(2){
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    width: 40px;
    height: 26px;
    font-size: 10px;
    background-color: #f6f8fa;
    color: #000;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.here__is__what-title h2{
    @include HereIsWhatTitle;
    padding: 120px 0px 0px 0px;
}

.here__is__what-content{
    text-align: center;
}

.here__is__what-img{
    padding-top: 35px;
}

.here__is__what-text h4{
    @include HereIsWhatContentTitle;
    padding: 27px 0px 14px 0px;
}

.here__is__what-text p{
    @include HereIsWhatContentText;
}

.hello__fork{
    min-width: 320px;
    max-width: 480px;
    padding-top: 64px;
    overflow: hidden; 
}

.hello__fork img{
    min-width: 100%;
    height: 381px;   
   
}

.hello__fork-desktop{
    display: none;
}

@media screen and (min-width:481px) and (max-width:992px){
    .container{
        max-width: 100%;
        padding: 0px 10px 0px 10px;
        }

     .revolutionary__editor__block{
        max-width: 690px;
    }

    .revolutionary__editor-title h2{
        font-size: 42px;
        line-height: 42px;
    }
    .revolutionary__editor-text p{
        font-size: 21px;
        line-height: 32px;
        padding: 30px 0px 30px 0px;
    }

   .here__is__what__block {
        max-width: 708px;
    }

    .here__is__what-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;    
    }

    .here__is__what-content{
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        gap: 23px;    
    }

    .here__is__what-title{
        padding-bottom: 50px;
    }  
    .here__is__what-title h2{
        font-size: 42px;
        line-height: 44px;
}
    .here__is__what-img img {
        display: flex;
        padding-top: 0px;    
    }

    .here__is__what-img a {
        display: flex;
        width: 112px;
        justify-content: center;
    }

    .here__is__what-img  {
        padding-top: 0px;   
    }

    .here__is__what-img img {
        max-width: 111px;
        
    }
    .here__is__what-text{
        text-align:start;
        display: flex;
        flex-direction: column;
        align-self: center;  
    }

    .here__is__what-text h4{
        padding: 0px 0px 15px 0px;
    }

    .hello__fork{
        max-width: 768px;
        padding-left: 68px;
        padding-top: 16px;
        margin-right: 0;
}
    .hello__fork img{
        width: 100%;
        height: auto;     
    }
}



@media screen and (min-width:993px) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 10px 0px 10px;
    }

     .revolutionary__editor__block{
        max-width: 900px;
    }

    .revolutionary__editor-title h2{
        font-size: 54px;
        line-height: 54px;
        padding-top: 66px;
    }
    .revolutionary__editor-text p{
        font-size: 21px;
        line-height: 32px;
        padding: 35px 0px 13px 0px;
    }

    .here__is__what__block {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        background: #F4F4F4;
        margin-top: 70px;
        padding-top: 94px;  
    }

    .hello__fork-desktop{
        display: flex;
        flex-direction: column;
    }

    .desktop-hidden{
        display: none;
    }
    .here__is__what-container{
        max-width: 540px;
        padding-left: 90px;
    }

    .here__is__what-content{
        display: flex;
        padding-bottom: 33px;
        gap: 23px;
        text-align: start;
    }

    .here__is__what-title h2{
        font-size: 48px;
        padding-top: 0;
        line-height: 50px;
        padding-left: 62px;
    }

    .here__is__what-text h4{
        padding-top: 0px;
    }

    .here__is__what-img{
        padding-top: 0;
    }

    .here__is__what-img a {
        display: flex;
        width: 112px;
        justify-content: center;
    }

    .here__is__what-img img {
        max-width: 111px;    
    }

    .hello__fork{
        max-width: 700px;
        min-width: 500px;
        padding-left: 68px;
        padding-top: 19px;
        margin-right: 0;
}
    .hello__fork img{
        width: 100%;
        height: auto;
    }

}