
// Revolutionary editor block

@mixin RevEditTitle {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    color: $title-color;
    text-align: center;
}

@mixin RevEditText {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    color: $text-color;
    text-align: center;
}

@mixin HereIsWhatTitle {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: $hereIsWhatTitle-color;
    text-align: center;
}

@mixin HereIsWhatContentTitle {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: $hereIsWhatContentTitle-color;
}

@mixin HereIsWhatContentText {
    font-family: Lato;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $hereIsWhatContentText-color;
}