@mixin menuNav ($width) {
    height: 3px;
    width: $width;
    background-color: $white-color;
    border-radius: 5px;
    margin-bottom: 6px;
    }; 

@mixin text ($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
    text-align: center;
};

@mixin btnBuy ($width, $height) {
    background-color: $btn-color;
    width: $width;
    height: $height;
    border: none;
    border-radius: 40px;
    
};

@mixin navMobileMenu {
    text-align: left;
    padding-left: 35px;
    line-height: 88px;
    border-bottom: 3px solid #3B3B3B;
    margin: 0 auto;
}
