@import "variables.scss";
@import "reset.css";
@import "mixin.scss";

.people{
    background-image: url("/dist/images/mob.png");
    background-size: cover;
    background-position: center;
    background-color: #4B3B4E;
    
   

    &__container{
        padding: 0 15px;

    }
    &__title{
        @include text( Montserrat, 42px, 700, $white-color);
        padding-top: 57px;
    }
    &__card{
       margin: 45px auto 0 auto ;
       display: flex;
       flex-direction: column;
       max-width: 345px;
       
    }
    &__img{
        margin: 0 auto;
    }
    &__text{
        @include text(Lato, 16px, 700, $white-color);
        line-height: 24px;
        margin-top: 30px;

    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;
    }
    &__conclusion{
        @include text(Lato, 14px, 400 , #A291A5 );
        padding-top: 37px; 
        line-height: 21px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 40px;
        }

    &__conclusion::before{
        content: '';
        width: 90%;
        height: 2px;
        background-color: #645766;
        position: absolute ;
        bottom: 15px;
        right: 5%;
            

    }
    @media (min-width: $tablet-width) {
        background-image: url("/dist/images/desktop.png");
        background-size: cover;
        background-position: center;
        &__wrapper{
            max-width: 800px;
        }
        &__conclusion{max-width: 700px;}
        &__conclusion::before{
            width: 80%;
            right: 10%;
        }
    }
    @media (min-width: $desktop-width ) {
        background-image: url("/dist/images/desktop.png");
        background-size: cover;
        background-position: center;
        &__wrapper{
            max-width: 1200px;
        }
        &__conclusion{ max-width: 800px;
        }
        &__conclusion::before{
            width: 80%;
            right: 10%;
        }
    }
   
    
}
