
$nav-color: #27262A;
$btn-color: #8D81AC;
$grey-color: #848E97;
$white-color: #FFFFFF;
$tablet-width: 768px;
$desktop-width: 1200px;

// Revolutionary editor block
// Colors
$title-color: #635C73;
$text-color: #323232;
$hereIsWhatTitle-color: #8D81AC;
$hereIsWhatContentTitle-color:#323232;
$hereIsWhatContentText-color: #848E97;

// Font-sizes
$fontMons: 26px;
$fontLato: 14px;
$fontMonsBold: 32px;
$fontMonsNorm: 16px;